.container {
  display: flex;
  height: 100%;
}

.todo-column, .done-column {
  width: 50%;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-radius: 4px;
}

.todo-column {
  border-right: 1px solid #ccc;
  margin-right: 16px;
}

.done-column {
  border-right: 1px solid #ccc;
}

.nav-bar {
  height: 32px;
  border: 1px solid #ccc;
  margin: 0 0 24px;
  border-radius: 16px;
}

.add-task {
  background: none;
  box-shadow: none;
  border-radius: 5px;
  padding: 15px;
  border: 1px solid #ccc;
  margin-bottom: 16px;
  cursor: pointer;
}

.card {
  padding: 20px;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  background-color: #eee;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 150px;
  height: 100px;
}