body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
}
.list-container {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.list-body {
  border: 1px solid black;
  display: flex;
  height: 100%;
  overflow: hidden;
}

.list {
  max-width: 30%;
  width: 30%;
  background: #fafafa;
  margin: 10px;
  flex-direction: column;
  overflow: auto;
}

.card {
  height: 60px;
  border: 1px solid black;
  margin: 20px 10px;
  justify-content: center;
  align-items: center;
  display: flex;
}